@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>DiagramER</PageTitle>
<HeadContent>
    <meta name="description" content="DiagramER © by Migra® is a Free web app to design Entity-Relation diagrams and generate SQL scripts out of the diagram." />
    <meta name="keywords" content="Entity-Relation Diagrams, Free Diagrams, Free ER Diagrams, ER to SQL Sript" />
</HeadContent>

<div class="diagramer-container">
    <!-- Left Panel with Tools -->
    <div class="left-panel">
        <!-- Table Tools Section -->
        <div class="panel-section">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3 style="margin: 0;">Tables</h3>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <a href="/docs/sample.json" download title="Sample JSON Diagram" style="color: inherit; text-decoration: none; font-size: 1.2em; display: inline-block;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16" style="pointer-events: none;">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                        </svg>
                    </a>
                    <a href="/docs/Guide.pdf" target="_blank" title="Getting Started Guide" style="color: inherit; text-decoration: none; font-size: 1.2em; display: inline-block;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" style="pointer-events: none;">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                        </svg>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary btn-block" @onclick="AddTableViaButton" title="Add a new table to the diagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg> &nbsp; Add Table
            </button>
            <button class="btn btn-secondary btn-block" @onclick="AddTextLabelViaButton" title="Add a text label to the diagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-input-cursor-text" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.17 4.17 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.5 3.5 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.17 4.17 0 0 1-2.06-.566A5 5 0 0 1 8 13.65a5 5 0 0 1-.44.285 4.17 4.17 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.5 3.5 0 0 0-.436-.294A3.17 3.17 0 0 0 5.5 2.5.5.5 0 0 1 5 2" />
                    <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1z" />
                </svg> &nbsp; Add Text Label
            </button>
        </div>

        <!-- Relations Tools Section -->
        <div class="panel-section" hidden="hidden">
            <h3>Drag & Drop</h3>
            <div class="drag-item" draggable="true" @ondragstart="OnDragStartTable" @ondragend="OnDragEnd" data-drag-type="table">
                <span class="icon">📋</span> Table
            </div>
            <div class="drag-item" draggable="true" @ondragstart="OnDragStartRelation" @ondragend="OnDragEnd" data-drag-type="relation">
                <span class="icon">🔗</span> Relation
            </div>
        </div>

        <!-- JSON Export Section -->
        <div class="panel-section json-section">
            <h3>JSON Schema</h3>
            <div class="json-output">
                <pre>@JsonOutput</pre>
            </div>
            
            <button class="btn btn-secondary btn-sm" @onclick="CopyJsonToClipboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2" />
                </svg> &nbsp; Copy
            </button>
            <table style="margin-bottom:6px">
                <tbody>
                    <tr>
                        <td style="width:50%; padding-right:4px;">
                            <button class="btn btn-outline-primary btn-sm" @onclick="DownloadJsonFile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                </svg> &nbsp; Download
                            </button>
                        </td>
                        <td style="width:50%; padding-left:4px;">
                            <button class="btn btn-outline-primary btn-sm" @onclick="TriggerFileUpload">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                </svg> &nbsp; Load
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-sm" @onclick="ExportDiagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                    <path d="M11 2H9v3h2z" />
                    <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                </svg> &nbsp; Export Diagram
            </button>
            <button class="btn btn-primary btn-sm" @onclick="GenerateSqlScript">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill" viewBox="0 0 16 16">
                    <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525" />
                </svg> &nbsp; Generate SQL
            </button>

            <input type="file" id="jsonFileInput" accept=".json" style="display: none;" @ref="fileInput" @onchange="HandleFileUpload" />
        </div>
    </div>

    <!-- Main Canvas Area -->
    <div class="canvas-area" 
         @onmousedown="OnCanvasBackgroundMouseDown"
         @onmousemove="OnCanvasMouseMove"
         @onmouseup="OnCanvasMouseUp"
         @onmouseleave="OnCanvasMouseUp">

        <div class="diagram-surface" id="diagram-export-surface"
             style="transform: translate(@($"{CanvasOffsetX}px, {CanvasOffsetY}px")) scale(@CanvasZoom); transform-origin: top left;">
        @foreach (var label in TextLabels)
        {
            <div class="text-label-wrapper"
                 style="left: @(label.X)px; top: @(label.Y)px;"
                 @onmousedown="(args) => OnTextLabelMouseDown(label, args)"
                 @onmousedown:stopPropagation="true">
                @if (EditingTextLabelId == label.Id)
                {
                    <input type="text"
                           class="text-label-input"
                           @bind="label.Text"
                           @bind:event="oninput"
                           @onblur="() => FinishTextLabelEditing()"
                           @onkeyup="HandleTextLabelKeyUp"
                           @onmousedown:stopPropagation="true"
                           autofocus />
                }
                else
                {
                    <div class="text-label"
                         @ondblclick="() => StartTextLabelEditing(label.Id)"
                         @ondblclick:stopPropagation="true">
                        <span>@label.Text</span>
                        <button class="text-label-delete"
                                title="Delete label"
                                @onclick="() => RemoveTextLabel(label.Id)"
                                @onclick:stopPropagation="true"
                                @onmousedown:stopPropagation="true">✕</button>
                    </div>
                }
            </div>
        }

        <!-- Tables Container -->
        <div class="tables-container">
            @foreach (var table in Tables)
            {
                <div class="table-wrapper" 
                     style="position: absolute; left: @(table.X)px; top: @(table.Y)px; width: @(table.Width)px; height: @(table.Height)px; touch-action: none;"
                     @onmousedown:stopPropagation="true">

                    <!-- Table Card -->
                    <div class="table-card" data-table-id="@table.Id" style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                        <!-- Table Header with Title Edit -->
                        <div class="table-header" @onmousedown="(args) => OnTableMouseDown(table, args)" style="cursor: move;">
                            @if (EditingTableId == table.Id)
                            {
                                <input type="text" 
                                       class="table-title-input" 
                                       @bind="table.Name"
                                       @onblur="() => { EditingTableId = null; UpdateRelationNames(); UpdateJsonOutput(); }"
                                       @onkeyup="(args) => HandleTitleKeyUp(args, table)"
                                       autofocus />
                            }
                            else
                            {
                                <h4 class="table-title" @ondblclick="() => EditingTableId = table.Id">
                                    @table.Name
                                </h4>
                            }
                            <button class="close-btn" @onclick="() => RemoveTable(table.Id)">✕</button>
                        </div>

                        <!-- Table Columns -->
                        <div class="table-columns" style="flex: 1; overflow-y: auto;">
                            <!-- Default Column (Fixed) -->
                            <div class="table-row fixed-row">
                                <div class="cell cell-handle-header"></div>
                                <div class="cell" data-column="name">Name</div>
                                <div class="cell" data-column="datatype">Datatype</div>
                                <div class="cell" data-column="length">Length</div>
                                <div class="cell" data-column="default">Default Value</div>
                                <div class="cell" data-column="null">Null</div>
                                <div class="cell" data-column="pk">PK(1,1)</div>
                                <div class="cell cell-delete-header"></div>
                            </div>

                            <!-- Data Rows -->
                            @foreach (var (row, rowIndex) in table.Rows.Select((r, i) => (r, i)))
                            {
                                <div class="table-row data-row @(SelectedRowIndex == rowIndex && SelectedTableId == table.Id ? "selected-row" : "")" 
                                     @onclick="() => SelectRow(table.Id, rowIndex)">
                                    <div class="relation-handle" 
                                         @onmousedown:stopPropagation="true"
                                         @ondragstart="args => OnDragStartCellRelation(args, table.Id, rowIndex)"
                                         @ondragend="OnDragEndCellRelation"
                                         @ondragover="OnRelationHandleDragOver"
                                         @ondragover:preventDefault
                                         @ondrop="args => OnDropRelation(args, table.Id, rowIndex)"
                                         @ondrop:preventDefault
                                         draggable="true"
                                         title="Drag to create relation">●</div>
                                    <div class="cell-wrapper">
                                        <input type="text" 
                                               class="cell-input" 
                                               @bind="row.Name"
                                               @bind:event="oninput"
                                               @onchange="() => { UpdateRelationNames(); UpdateJsonOutput(); }"
                                               placeholder="Column name" />
                                    </div>
                                    <select class="cell-input cell-select" 
                                            value="@row.DataType"
                                            @onchange="(ChangeEventArgs e) => HandleDataTypeChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="bigint">bigint</option>
                                        <option value="int">int</option>
                                        <option value="smallint">smallint</option>
                                        <option value="tinyint">tinyint</option>
                                        <option value="decimal">decimal</option>
                                        <option value="numeric">numeric</option>
                                        <option value="float">float</option>
                                        <option value="real">real</option>
                                        <option value="money">money</option>
                                        <option value="smallmoney">smallmoney</option>
                                        <option value="bit">bit</option>
                                        <option value="char">char</option>
                                        <option value="varchar">varchar</option>
                                        <option value="varchar(max)">varchar(max)</option>
                                        <option value="nchar">nchar</option>
                                        <option value="nvarchar">nvarchar</option>
                                        <option value="nvarchar(max)">nvarchar(max)</option>
                                        <option value="text">text</option>
                                        <option value="ntext">ntext</option>
                                        <option value="date">date</option>
                                        <option value="time">time</option>
                                        <option value="datetime">datetime</option>
                                        <option value="datetime2">datetime2</option>
                                        <option value="datetimeoffset">datetimeoffset</option>
                                        <option value="smalldatetime">smalldatetime</option>
                                        <option value="timestamp">timestamp</option>
                                        <option value="binary">binary</option>
                                        <option value="varbinary">varbinary</option>
                                        <option value="varbinary(max)">varbinary(max)</option>
                                        <option value="image">image</option>
                                        <option value="uniqueidentifier">uniqueidentifier</option>
                                        <option value="xml">xml</option>
                                        <option value="json">json</option>
                                        <option value="geometry">geometry</option>
                                        <option value="geography">geography</option>
                                    </select>
                                    <input type="number" 
                                           class="cell-input" 
                                           @bind="row.Length"
                                           @bind:event="oninput"
                                           @onchange="UpdateJsonOutput"
                                           placeholder="Length"
                                           min="0" />
                                    <input type="text" 
                                           class="cell-input" 
                                           @bind="row.DefaultValue"
                                           @bind:event="oninput"
                                           @onchange="UpdateJsonOutput"
                                           placeholder="Default" />
                                    <select class="cell-input cell-select" 
                                            value="@row.Null"
                                            @onchange="(ChangeEventArgs e) => HandleNullChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                    <select class="cell-input cell-select" 
                                            value="@row.PrimaryKey"
                                            @onchange="(ChangeEventArgs e) => HandlePrimaryKeyChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                    <button class="delete-row-btn" @onclick="() => RemoveRow(table.Id, rowIndex)">✕</button>
                                </div>
                            }
                        </div>

                        <!-- Add Row Button -->
                        <button class="add-row-btn" @onclick="() => AddRow(table.Id)">+ Add Column</button>

                        <!-- Row Order Controls -->
                        @if (table.Rows.Count > 0 && SelectedTableId == table.Id && SelectedRowIndex >= 0)
                        {
                            <div class="row-controls">
                                <button class="order-btn" @onclick="() => MoveRowUp(table.Id)" disabled="@(SelectedRowIndex <= 0)" title="Move row up">▲</button>
                                <button class="order-btn" @onclick="() => MoveRowDown(table.Id)" disabled="@(SelectedRowIndex >= table.Rows.Count - 1)" title="Move row down">▼</button>
                            </div>
                        }

                        <!-- Resize Handle -->
                        <div class="resize-handle" @onmousedown="(args) => OnResizeMouseDown(table, args)" @onmousedown:stopPropagation="true"></div>
                    </div>
                </div>
            }

        </div>

        <!-- SVG for Relations -->
        <svg class="relations-svg">
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="9" refY="3.5" orient="auto" markerUnits="strokeWidth">
                    <polygon points="0 0, 10 3.5, 0 7" fill="var(--bs-primary)" />
                </marker>
            </defs>
            @foreach (var relation in Relations)
            {
                var fromTable = Tables.FirstOrDefault(t => t.Id == relation.FromTableId);
                var toTable = Tables.FirstOrDefault(t => t.Id == relation.ToTableId);
                var isSelected = SelectedRelationId == relation.Id;

                @if (fromTable != null && toTable != null)
                {
                    var pathPoints = ComputeRelationPath(relation);
                     @if (pathPoints.Count >= 2)
                     {
                         var pointsStr = string.Join(" ", pathPoints.Select(p => FormattableString.Invariant($"{p.X},{p.Y}")));
                         var relId = relation.Id;
                         var fromRow = fromTable.Rows.ElementAtOrDefault(relation.FromRowIndex);
                         var toRow = toTable.Rows.ElementAtOrDefault(relation.ToRowIndex);
                         var startPt = pathPoints[0];
                         var endPt = pathPoints[pathPoints.Count - 1];
                         var oneTooltip = $"One: {fromTable.Name}.{fromRow?.Name}";
                         var manyTooltip = $"Many: {toTable.Name}.{toRow?.Name}";

                         // Position label above the horizontal segment of the path
                         double labelX, labelY;
                         if (pathPoints.Count >= 4)
                         {
                             // For 4-point paths, position above the first horizontal segment (between points 0 and 1)
                             labelX = (pathPoints[0].X + pathPoints[1].X) / 2;
                             labelY = pathPoints[0].Y - 25; // Above the top horizontal line
                         }
                         else
                         {
                             // Fallback for other path structures
                             labelX = (startPt.X + endPt.X) / 2;
                             labelY = Math.Min(startPt.Y, endPt.Y) - 25;
                         }

                        <polyline points="@pointsStr" class="relation-line-hit"
                                  @onclick="() => SelectRelation(relId)" />
                        <polyline points="@pointsStr"
                                  class="relation-line @(isSelected ? "relation-line-selected" : "")"
                                  @onmousedown:stopPropagation="true"
                                  @onmousedown="(e) => OnRelationLineMouseDown(e, relId)" />
                        <g style="pointer-events: all;" role="img" aria-label="@oneTooltip">
                            <circle cx="@startPt.X" cy="@startPt.Y" r="4" class="relation-point">
                                <title>@oneTooltip</title>
                            </circle>
                        </g>
                        <g style="pointer-events: all;" role="img" aria-label="@manyTooltip">
                            <circle cx="@endPt.X" cy="@endPt.Y" r="4" class="relation-point">
                                <title>@manyTooltip</title>
                            </circle>
                        </g>
                        @if (EditingRelationId == relId)
                        {
                            var inputWidth = Math.Max(160, relation.Name.Length * 8 + 20);
                            <foreignObject x="@(labelX - inputWidth / 2)" y="@(labelY - 12)" width="@inputWidth" height="28">
                                <input type="text" class="relation-name-input"
                                       @bind="relation.Name"
                                       @bind:event="oninput"
                                       @onblur="() => FinishEditingRelationName(relId)"
                                       @onkeyup="(e) => HandleRelationNameKeyUp(e, relId)"
                                       autofocus />
                            </foreignObject>
                        }
                        else
                        {
                            <g @onclick="() => SelectRelation(relId)"
                               @ondblclick="() => StartEditingRelationName(relId)">
                                <text x="@labelX" y="@(labelY)" class="relation-label @(isSelected ? "relation-label-selected" : "")">@relation.Name</text>
                            </g>
                        }
                        @if (isSelected)
                        {
                            @if (pathPoints.Count == 4)
                            {
                                // Waypoint handle on the vertical segment
                                var wpX = pathPoints[1].X;
                                var wpY = (pathPoints[1].Y + pathPoints[2].Y) / 2;
                                <circle cx="@wpX" cy="@wpY" r="6" class="waypoint-handle"
                                        @onmousedown="(e) => OnWaypointMouseDown(e, relId)"
                                        @onmousedown:stopPropagation="true" />

                                // Additional interactive handles on each segment
                                <!-- Handle on top horizontal segment -->
                                <rect x="@(pathPoints[0].X)" y="@(pathPoints[0].Y - 8)" 
                                      width="@Math.Abs(pathPoints[1].X - pathPoints[0].X)" height="16"
                                      class="line-segment-handle" opacity="0"
                                      @onmousedown="(e) => OnRelationLineSegmentMouseDown(e, relId, 0)"
                                      @onmousedown:stopPropagation="true" />

                                <!-- Handle on vertical segment -->
                                <rect x="@(pathPoints[1].X - 8)" y="@Math.Min(pathPoints[1].Y, pathPoints[2].Y)" 
                                      width="16" height="@Math.Abs(pathPoints[2].Y - pathPoints[1].Y)"
                                      class="line-segment-handle" opacity="0"
                                      @onmousedown="(e) => OnRelationLineSegmentMouseDown(e, relId, 1)"
                                      @onmousedown:stopPropagation="true" />

                                <!-- Handle on bottom horizontal segment -->
                                <rect x="@Math.Min(pathPoints[2].X, pathPoints[3].X)" y="@(pathPoints[2].Y - 8)" 
                                      width="@Math.Abs(pathPoints[3].X - pathPoints[2].X)" height="16"
                                      class="line-segment-handle" opacity="0"
                                      @onmousedown="(e) => OnRelationLineSegmentMouseDown(e, relId, 2)"
                                      @onmousedown:stopPropagation="true" />
                            }
                            <g class="relation-delete-btn" @onclick="() => RemoveRelation(relId)">
                                <circle cx="@(labelX + 60)" cy="@(labelY - 12)" r="10" class="relation-delete-circle" />
                                <g class="relation-delete-text">
                                    <text x="@(labelX + 60)" y="@(labelY - 8)">✕</text>
                                </g>
                            </g>
                        }
                     }
                }
            }
        </svg>

        <!-- Drawing Relation Line (Temporary) -->
        @if (DrawingRelation != null)
        {
            <svg class="drawing-svg">
                <line x1="@DrawingRelation.StartX" 
                      y1="@DrawingRelation.StartY" 
                      x2="@DrawingRelation.CurrentX" 
                      y2="@DrawingRelation.CurrentY" 
                      class="drawing-line" />
            </svg>
        }
        </div>

        <div class="zoom-controls">
            <button class="zoom-btn" @onclick="ZoomOut" title="Zoom out">−</button>
            <button class="zoom-btn zoom-level" @onclick="ResetViewport" title="Reset zoom and position">@($"{CanvasZoom * 100:0}%")</button>
            <button class="zoom-btn" @onclick="ZoomIn" title="Zoom in">+</button>
        </div>
    </div>

    @if (ShowConfirmDialog)
    {
        <div class="confirm-overlay" @onclick="CancelDelete">
            <div class="confirm-dialog" @onclick:stopPropagation="true">
                <div class="confirm-header">@ConfirmDialogTitle</div>
                <div class="confirm-body">@ConfirmDialogMessage</div>
                <div class="confirm-footer">
                    <button class="confirm-btn confirm-btn-cancel" @onclick="CancelDelete">Cancel</button>
                    <button class="confirm-btn confirm-btn-delete" @onclick="ConfirmDelete">Delete</button>
                </div>
            </div>
        </div>
    }

    @if (ShowSqlModal)
    {
        <div class="confirm-overlay" @onclick="CloseSqlModal">
            <div class="confirm-dialog sql-dialog" @onclick:stopPropagation="true">
                <div class="confirm-header sql-header">Generated SQL Script</div>
                <div class="sql-modal-body">
                    <div class="sql-output-panel">
                        <pre>@GeneratedSqlOutput</pre>
                    </div>
                </div>
                <div class="confirm-footer">
                    <button class="btn btn-secondary btn-sm" @onclick="CloseSqlModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                        </svg> &nbsp; Close
                        </button>
                    <button class="btn btn-primary btn-sm" @onclick="CopySqlToClipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2" />
                        </svg> &nbsp; Copy SQL
                    </button>
                </div>
            </div>
        </div>
    }

    <!-- Cookie Notification -->
    @if (ShowCookieNotification)
    {
        <div class="cookie-notification">
            <div class="cookie-notification-content">
                <span class="cookie-notification-text">
                    This site uses a cookie to temporarily backup your diagram data. Your data is stored in this secure cookie for up to 2 hours.
                    Make sure you download a backup to your computer by clicking "Download", so you can be able to load it later and continue
                    working on your diagram.
                </span>
                <button class="cookie-notification-btn" @onclick="CloseCookieNotification">OK</button>
            </div>
        </div>
    }
</div>
