@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime

<div class="diagramer-container">
    <!-- Left Panel with Tools -->
    <div class="left-panel">
        <!-- Table Tools Section -->
        <div class="panel-section">
            <h3>Tables</h3>
            <button class="btn btn-primary btn-block" @onclick="AddTableViaButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg> &nbsp; Add Table
            </button>
            <button class="btn btn-secondary btn-block" @onclick="AddTextLabelViaButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-input-cursor-text" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.17 4.17 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.5 3.5 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.17 4.17 0 0 1-2.06-.566A5 5 0 0 1 8 13.65a5 5 0 0 1-.44.285 4.17 4.17 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.5 3.5 0 0 0-.436-.294A3.17 3.17 0 0 0 5.5 2.5.5.5 0 0 1 5 2" />
                    <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1z" />
                </svg> &nbsp; Add Text Label
            </button>  
        </div>

        <!-- Relations Tools Section -->
        <div class="panel-section" hidden="hidden">
            <h3>Drag & Drop</h3>
            <div class="drag-item" draggable="true" @ondragstart="OnDragStartTable" @ondragend="OnDragEnd" data-drag-type="table">
                <span class="icon">📋</span> Table
            </div>
            <div class="drag-item" draggable="true" @ondragstart="OnDragStartRelation" @ondragend="OnDragEnd" data-drag-type="relation">
                <span class="icon">🔗</span> Relation
            </div>
        </div>

        <!-- JSON Export Section -->
        <div class="panel-section json-section">
            <h3>JSON Schema</h3>
            <div class="json-output">
                <pre>@JsonOutput</pre>
            </div>
            
            <button class="btn btn-secondary btn-sm" @onclick="CopyJsonToClipboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2" />
                </svg> &nbsp; Copy
            </button>
            <table style="margin-bottom:6px">
                <tbody>
                    <tr>
                        <td style="width:50%; padding-right:4px;">
                            <button class="btn btn-outline-primary btn-sm" @onclick="DownloadJsonFile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                </svg> &nbsp; Download
                            </button>
                        </td>
                        <td style="width:50%; padding-left:4px;">
                            <button class="btn btn-outline-primary btn-sm" @onclick="TriggerFileUpload">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
                                </svg> &nbsp; Load
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-sm" @onclick="ExportDiagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                    <path d="M11 2H9v3h2z" />
                    <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                </svg> &nbsp; Export Diagram
            </button>
            <button class="btn btn-primary btn-sm" @onclick="GenerateSqlScript">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill" viewBox="0 0 16 16">
                    <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525" />
                </svg> &nbsp; Generate SQL
            </button>

            <input type="file" id="jsonFileInput" accept=".json" style="display: none;" @ref="fileInput" @onchange="HandleFileUpload" />
        </div>
    </div>

    <!-- Main Canvas Area -->
    <div class="canvas-area" 
         @onmousedown="OnCanvasBackgroundMouseDown"
         @onmousemove="OnCanvasMouseMove"
         @onmouseup="OnCanvasMouseUp"
         @onmouseleave="OnCanvasMouseUp">

        <div class="diagram-surface" id="diagram-export-surface"
             style="transform: translate(@($"{CanvasOffsetX}px, {CanvasOffsetY}px")) scale(@CanvasZoom); transform-origin: top left;">
        @foreach (var label in TextLabels)
        {
            <div class="text-label-wrapper"
                 style="left: @(label.X)px; top: @(label.Y)px;"
                 @onmousedown="(args) => OnTextLabelMouseDown(label, args)"
                 @onmousedown:stopPropagation="true">
                @if (EditingTextLabelId == label.Id)
                {
                    <input type="text"
                           class="text-label-input"
                           @bind="label.Text"
                           @bind:event="oninput"
                           @onblur="() => FinishTextLabelEditing()"
                           @onkeyup="HandleTextLabelKeyUp"
                           @onmousedown:stopPropagation="true"
                           autofocus />
                }
                else
                {
                    <div class="text-label"
                         @ondblclick="() => StartTextLabelEditing(label.Id)"
                         @ondblclick:stopPropagation="true">
                        <span>@label.Text</span>
                        <button class="text-label-delete"
                                title="Delete label"
                                @onclick="() => RemoveTextLabel(label.Id)"
                                @onclick:stopPropagation="true"
                                @onmousedown:stopPropagation="true">✕</button>
                    </div>
                }
            </div>
        }

        <!-- Tables Container -->
        <div class="tables-container">
            @foreach (var table in Tables)
            {
                <div class="table-wrapper" 
                     style="position: absolute; left: @(table.X)px; top: @(table.Y)px; width: @(table.Width)px; height: @(table.Height)px; touch-action: none;">

                    <!-- Table Card -->
                    <div class="table-card" data-table-id="@table.Id" style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                        <!-- Table Header with Title Edit -->
                        <div class="table-header" @onmousedown="(args) => OnTableMouseDown(table, args)" style="cursor: move;">
                            @if (EditingTableId == table.Id)
                            {
                                <input type="text" 
                                       class="table-title-input" 
                                       @bind="table.Name"
                                       @onblur="() => { EditingTableId = null; UpdateRelationNames(); UpdateJsonOutput(); }"
                                       @onkeyup="(args) => HandleTitleKeyUp(args, table)"
                                       autofocus />
                            }
                            else
                            {
                                <h4 class="table-title" @ondblclick="() => EditingTableId = table.Id">
                                    @table.Name
                                </h4>
                            }
                            <button class="close-btn" @onclick="() => RemoveTable(table.Id)">✕</button>
                        </div>

                        <!-- Table Columns -->
                        <div class="table-columns" style="flex: 1; overflow-y: auto;">
                            <!-- Default Column (Fixed) -->
                            <div class="table-row fixed-row">
                                <div class="cell cell-handle-header"></div>
                                <div class="cell" data-column="name">Name</div>
                                <div class="cell" data-column="datatype">Datatype</div>
                                <div class="cell" data-column="length">Length</div>
                                <div class="cell" data-column="default">Default Value</div>
                                <div class="cell" data-column="null">Null</div>
                                <div class="cell" data-column="pk">PK(1,1)</div>
                                <div class="cell cell-delete-header"></div>
                            </div>

                            <!-- Data Rows -->
                            @foreach (var (row, rowIndex) in table.Rows.Select((r, i) => (r, i)))
                            {
                                <div class="table-row data-row @(SelectedRowIndex == rowIndex && SelectedTableId == table.Id ? "selected-row" : "")" 
                                     @onclick="() => SelectRow(table.Id, rowIndex)">
                                    <div class="relation-handle" 
                                         @onmousedown:stopPropagation="true"
                                         @ondragstart="args => OnDragStartCellRelation(args, table.Id, rowIndex)"
                                         @ondragend="OnDragEndCellRelation"
                                         @ondragover="OnRelationHandleDragOver"
                                         @ondragover:preventDefault
                                         @ondrop="args => OnDropRelation(args, table.Id, rowIndex)"
                                         @ondrop:preventDefault
                                         draggable="true"
                                         title="Drag to create relation">●</div>
                                    <div class="cell-wrapper">
                                        <input type="text" 
                                               class="cell-input" 
                                               @bind="row.Name"
                                               @bind:event="oninput"
                                               @onchange="() => { UpdateRelationNames(); UpdateJsonOutput(); }"
                                               placeholder="Column name" />
                                    </div>
                                    <select class="cell-input cell-select" 
                                            value="@row.DataType"
                                            @onchange="(ChangeEventArgs e) => HandleDataTypeChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="bigint">bigint</option>
                                        <option value="int">int</option>
                                        <option value="smallint">smallint</option>
                                        <option value="tinyint">tinyint</option>
                                        <option value="decimal">decimal</option>
                                        <option value="numeric">numeric</option>
                                        <option value="float">float</option>
                                        <option value="real">real</option>
                                        <option value="money">money</option>
                                        <option value="smallmoney">smallmoney</option>
                                        <option value="bit">bit</option>
                                        <option value="char">char</option>
                                        <option value="varchar">varchar</option>
                                        <option value="varchar(max)">varchar(max)</option>
                                        <option value="nchar">nchar</option>
                                        <option value="nvarchar">nvarchar</option>
                                        <option value="nvarchar(max)">nvarchar(max)</option>
                                        <option value="text">text</option>
                                        <option value="ntext">ntext</option>
                                        <option value="date">date</option>
                                        <option value="time">time</option>
                                        <option value="datetime">datetime</option>
                                        <option value="datetime2">datetime2</option>
                                        <option value="datetimeoffset">datetimeoffset</option>
                                        <option value="smalldatetime">smalldatetime</option>
                                        <option value="timestamp">timestamp</option>
                                        <option value="binary">binary</option>
                                        <option value="varbinary">varbinary</option>
                                        <option value="varbinary(max)">varbinary(max)</option>
                                        <option value="image">image</option>
                                        <option value="uniqueidentifier">uniqueidentifier</option>
                                        <option value="xml">xml</option>
                                        <option value="json">json</option>
                                        <option value="geometry">geometry</option>
                                        <option value="geography">geography</option>
                                    </select>
                                    <input type="number" 
                                           class="cell-input" 
                                           @bind="row.Length"
                                           @bind:event="oninput"
                                           @onchange="UpdateJsonOutput"
                                           placeholder="Length"
                                           min="0" />
                                    <input type="text" 
                                           class="cell-input" 
                                           @bind="row.DefaultValue"
                                           @bind:event="oninput"
                                           @onchange="UpdateJsonOutput"
                                           placeholder="Default" />
                                    <select class="cell-input cell-select" 
                                            value="@row.Null"
                                            @onchange="(ChangeEventArgs e) => HandleNullChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                    <select class="cell-input cell-select" 
                                            value="@row.PrimaryKey"
                                            @onchange="(ChangeEventArgs e) => HandlePrimaryKeyChange(e, row)">
                                        <option value=""> --- </option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                    <button class="delete-row-btn" @onclick="() => RemoveRow(table.Id, rowIndex)">✕</button>
                                </div>
                            }
                        </div>

                        <!-- Add Row Button -->
                        <button class="add-row-btn" @onclick="() => AddRow(table.Id)">+ Add Column</button>

                        <!-- Row Order Controls -->
                        @if (table.Rows.Count > 0 && SelectedTableId == table.Id && SelectedRowIndex >= 0)
                        {
                            <div class="row-controls">
                                <button class="order-btn" @onclick="() => MoveRowUp(table.Id)" disabled="@(SelectedRowIndex <= 0)" title="Move row up">▲</button>
                                <button class="order-btn" @onclick="() => MoveRowDown(table.Id)" disabled="@(SelectedRowIndex >= table.Rows.Count - 1)" title="Move row down">▼</button>
                            </div>
                        }

                        <!-- Resize Handle -->
                        <div class="resize-handle" @onmousedown="(args) => OnResizeMouseDown(table, args)"></div>
                    </div>
                </div>
            }

        </div>

        <!-- SVG for Relations -->
        <svg class="relations-svg">
            <defs>
                <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="9" refY="3.5" orient="auto" markerUnits="strokeWidth">
                    <polygon points="0 0, 10 3.5, 0 7" fill="var(--bs-primary)" />
                </marker>
            </defs>
            @foreach (var relation in Relations)
            {
                var fromTable = Tables.FirstOrDefault(t => t.Id == relation.FromTableId);
                var toTable = Tables.FirstOrDefault(t => t.Id == relation.ToTableId);
                var isSelected = SelectedRelationId == relation.Id;

                @if (fromTable != null && toTable != null)
                {
                    var pathPoints = ComputeRelationPath(relation);
                    @if (pathPoints.Count >= 2)
                    {
                        var pointsStr = string.Join(" ", pathPoints.Select(p => FormattableString.Invariant($"{p.X},{p.Y}")));
                        var relId = relation.Id;
                        var midSegIdx = pathPoints.Count / 2;
                        var labelX = (pathPoints[midSegIdx - 1].X + pathPoints[midSegIdx].X) / 2;
                        var labelY = (pathPoints[midSegIdx - 1].Y + pathPoints[midSegIdx].Y) / 2;
                        var startPt = pathPoints[0];
                        var endPt = pathPoints[pathPoints.Count - 1];

                        <polyline points="@pointsStr" class="relation-line-hit"
                                  @onclick="() => SelectRelation(relId)" />
                        <polyline points="@pointsStr"
                                  class="relation-line @(isSelected ? "relation-line-selected" : "")" />
                        <circle cx="@startPt.X" cy="@startPt.Y" r="4" class="relation-point" />
                        <circle cx="@endPt.X" cy="@endPt.Y" r="4" class="relation-point" />
                        @if (EditingRelationId == relId)
                        {
                            var inputWidth = Math.Max(160, relation.Name.Length * 8 + 20);
                            <foreignObject x="@(labelX - inputWidth / 2)" y="@(labelY - 24)" width="@inputWidth" height="28">
                                <input type="text" class="relation-name-input"
                                       @bind="relation.Name"
                                       @bind:event="oninput"
                                       @onblur="() => FinishEditingRelationName(relId)"
                                       @onkeyup="(e) => HandleRelationNameKeyUp(e, relId)"
                                       autofocus />
                            </foreignObject>
                        }
                        else
                        {
                            <g @onclick="() => SelectRelation(relId)"
                               @ondblclick="() => StartEditingRelationName(relId)">
                                <text x="@labelX" y="@(labelY - 8)" class="relation-label @(isSelected ? "relation-label-selected" : "")">@relation.Name</text>
                            </g>
                        }
                        @if (isSelected)
                        {
                            @if (pathPoints.Count == 4)
                            {
                                var wpX = pathPoints[1].X;
                                var wpY = (pathPoints[1].Y + pathPoints[2].Y) / 2;
                                <circle cx="@wpX" cy="@wpY" r="6" class="waypoint-handle"
                                        @onmousedown="(e) => OnWaypointMouseDown(e, relId)" />
                            }
                            <g class="relation-delete-btn" @onclick="() => RemoveRelation(relId)">
                                <circle cx="@(labelX + 8)" cy="@(labelY - 22)" r="10" class="relation-delete-circle" />
                                <g class="relation-delete-text">
                                    <text x="@(labelX + 8)" y="@(labelY - 18)">✕</text>
                                </g>
                            </g>
                        }
                    }
                }
            }
        </svg>

        <!-- Drawing Relation Line (Temporary) -->
        @if (DrawingRelation != null)
        {
            <svg class="drawing-svg">
                <line x1="@DrawingRelation.StartX" 
                      y1="@DrawingRelation.StartY" 
                      x2="@DrawingRelation.CurrentX" 
                      y2="@DrawingRelation.CurrentY" 
                      class="drawing-line" />
            </svg>
        }
        </div>

        <div class="zoom-controls">
            <button class="zoom-btn" @onclick="ZoomOut" title="Zoom out">−</button>
            <button class="zoom-btn zoom-level" @onclick="ResetViewport" title="Reset zoom and position">@($"{CanvasZoom * 100:0}%")</button>
            <button class="zoom-btn" @onclick="ZoomIn" title="Zoom in">+</button>
        </div>
    </div>

    @if (ShowConfirmDialog)
    {
        <div class="confirm-overlay" @onclick="CancelDelete">
            <div class="confirm-dialog" @onclick:stopPropagation="true">
                <div class="confirm-header">@ConfirmDialogTitle</div>
                <div class="confirm-body">@ConfirmDialogMessage</div>
                <div class="confirm-footer">
                    <button class="confirm-btn confirm-btn-cancel" @onclick="CancelDelete">Cancel</button>
                    <button class="confirm-btn confirm-btn-delete" @onclick="ConfirmDelete">Delete</button>
                </div>
            </div>
        </div>
    }

    @if (ShowSqlModal)
    {
        <div class="confirm-overlay" @onclick="CloseSqlModal">
            <div class="confirm-dialog sql-dialog" @onclick:stopPropagation="true">
                <div class="confirm-header sql-header">Generated SQL Script</div>
                <div class="sql-modal-body">
                    <div class="sql-output-panel">
                        <pre>@GeneratedSqlOutput</pre>
                    </div>
                </div>
                <div class="confirm-footer">
                    <button class="btn btn-secondary btn-sm" @onclick="CloseSqlModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                        </svg> &nbsp; Close
                        </button>
                    <button class="btn btn-primary btn-sm" @onclick="CopySqlToClipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2" />
                        </svg> &nbsp; Copy SQL
                    </button>
                </div>
            </div>
        </div>
    }

    <!-- Cookie Notification -->
    @if (ShowCookieNotification)
    {
        <div class="cookie-notification">
            <div class="cookie-notification-content">
                <span class="cookie-notification-text">
                    This site uses a cookie to temporarily backup your diagram data. Your data is stored in this secure cookie for up to 2 hours.
                    Make sure you download a backup to your computer by clicking "Download", so you can be able to load it later and continue
                    working on your diagram.
                </span>
                <button class="cookie-notification-btn" @onclick="CloseCookieNotification">OK</button>
            </div>
        </div>
    }
</div>

@code {
    private class TableModel
    {
        public string Id { get; set; } = Guid.NewGuid().ToString();
        public string Name { get; set; } = "New Table";
        public double X { get; set; } = 50;
        public double Y { get; set; } = 50;
        public double Width { get; set; } = 600;
        public double Height { get; set; } = 400;
        public List<ColumnModel> Rows { get; set; } = new();
    }

    private class ColumnModel
    {
        public string Name { get; set; } = "";
        public string DataType { get; set; } = "";
        public int? Length { get; set; }
        public string DefaultValue { get; set; } = "";
        public string Null { get; set; } = "";
        public string PrimaryKey { get; set; } = "";
    }

    private class RelationModel
    {
        public string Id { get; set; } = Guid.NewGuid().ToString();
        public string FromTableId { get; set; } = "";
        public int FromRowIndex { get; set; } = 0;
        public string FromColumn { get; set; } = "name";
        public string ToTableId { get; set; } = "";
        public int ToRowIndex { get; set; } = 0;
        public string ToColumn { get; set; } = "name";
        public string Name { get; set; } = "New Relation";
        public bool HasCustomName { get; set; } = false;
        public double? ManualRouteX { get; set; }
    }

    private class TextLabelModel
    {
        public string Id { get; set; } = Guid.NewGuid().ToString();
        public string Text { get; set; } = "New label";
        public double X { get; set; } = 420;
        public double Y { get; set; } = 120;
    }

    private class DrawingRelationModel
    {
        public double StartX { get; set; }
        public double StartY { get; set; }
        public double CurrentX { get; set; }
        public double CurrentY { get; set; }
        public string FromTableId { get; set; } = "";
        public int FromRowIndex { get; set; } = 0;
    }

    private List<TableModel> Tables = new();
    private List<RelationModel> Relations = new();
    private List<TextLabelModel> TextLabels = new();
    private string? EditingTableId = null;
    private string? EditingTextLabelId = null;
    private string DraggedItemType = "";
    private DrawingRelationModel? DrawingRelation = null;
    private TableModel? DraggingTable = null;
    private TextLabelModel? DraggingTextLabel = null;
    private double DragOffsetX = 0;
    private double DragOffsetY = 0;
    private string JsonOutput = "{}";
    private int SelectedRowIndex = -1;
    private string SelectedTableId = "";
    private string? SelectedRelationId = null;
    private string? EditingRelationId = null;
    private bool _relationClickedThisFrame = false;
    private string? DraggingWaypointRelationId = null;
    private double WaypointDragOffsetX = 0;
    private bool IsPanningCanvas = false;
    private double CanvasZoom = 1;
    private double CanvasOffsetX = 0;
    private double CanvasOffsetY = 0;
    private double PanStartClientX = 0;
    private double PanStartClientY = 0;
    private double PanStartOffsetX = 0;
    private double PanStartOffsetY = 0;
    private TableModel? ResizingTable = null;
    private double ResizeStartX = 0;
    private double ResizeStartY = 0;
    private double ResizeStartWidth = 0;
    private double ResizeStartHeight = 0;
    private ElementReference fileInput;

    // Cookie notification state
    private bool ShowCookieNotification = false;

    // Confirmation dialog state
    private bool ShowConfirmDialog = false;
    private string ConfirmDialogTitle = "";
    private string ConfirmDialogMessage = "";
    private Action? ConfirmDialogAction = null;
    private bool ShowSqlModal = false;
    private string GeneratedSqlOutput = string.Empty;
    private IJSObjectReference? jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/diagramer.js");
                await jsModule.InvokeVoidAsync("initDragDrop", DotNetObjectReference.Create(this));

                // Check if cookie notification has been shown
                bool notificationShown = await jsModule.InvokeAsync<bool>("checkCookieNotificationShown");
                if (!notificationShown)
                {
                    ShowCookieNotification = true;
                    StateHasChanged();
                }

                // Load diagram from cookie backup if available
                string? backupJson = await jsModule.InvokeAsync<string>("getCookie", "diagramer_backup");
                if (!string.IsNullOrEmpty(backupJson))
                {
                    try
                    {
                        await LoadDiagramFromJson(backupJson);
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine($"Error loading backup from cookie: {ex.Message}");
                    }
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error initializing drag-drop: {ex.Message}");
            }
        }
    }

    protected override void OnInitialized()
    {
        UpdateJsonOutput();
    }

    private void AddTableViaButton()
    {
        var newTable = new TableModel
        {
            Name = $"Table_{Tables.Count + 1}",
            X = 400,
            Y = 50
        };
        Tables.Add(newTable);
        UpdateJsonOutput();
    }

    private void AddTextLabelViaButton()
    {
        var label = new TextLabelModel
        {
            Text = $"Label {TextLabels.Count + 1}",
            X = 420,
            Y = 120 + (TextLabels.Count * 36)
        };

        TextLabels.Add(label);
        EditingTextLabelId = label.Id;
        UpdateJsonOutput();
    }

    private void OnDragStartTable(DragEventArgs args)
    {
        // Handled by JavaScript now
    }

    private void OnDragStartRelation(DragEventArgs args)
    {
        // Handled by JavaScript now
    }

    private void OnDragStartCellRelation(DragEventArgs args, string tableId, int rowIndex)
    {
        IsPanningCanvas = false;
        DrawingRelation = new DrawingRelationModel
        {
            FromTableId = tableId,
            FromRowIndex = rowIndex,
            StartX = args.ClientX,
            StartY = args.ClientY,
            CurrentX = args.ClientX,
            CurrentY = args.ClientY
        };
    }

    private void OnDragEndCellRelation(DragEventArgs args)
    {
        IsPanningCanvas = false;
        DrawingRelation = null;
    }

    private void OnRelationHandleDragOver(DragEventArgs args)
    {
        // Allow drop on relation handles
    }

    private async Task OnDropRelation(DragEventArgs args, string tableId, int rowIndex)
    {
        IsPanningCanvas = false;
        if (DrawingRelation == null) return;

        // Prevent dropping on the same row of the same table
        if (DrawingRelation.FromTableId == tableId && DrawingRelation.FromRowIndex == rowIndex)
        {
            DrawingRelation = null;
            return;
        }

        var fromTable = Tables.FirstOrDefault(t => t.Id == DrawingRelation.FromTableId);
        var toTable = Tables.FirstOrDefault(t => t.Id == tableId);

        if (fromTable == null || toTable == null)
        {
            DrawingRelation = null;
            return;
        }

        var fromRow = fromTable.Rows.ElementAtOrDefault(DrawingRelation.FromRowIndex);
        var toRow = toTable.Rows.ElementAtOrDefault(rowIndex);

        if (fromRow == null || toRow == null)
        {
            DrawingRelation = null;
            return;
        }

        // Validate that datatypes match
        if (!string.Equals(fromRow.DataType, toRow.DataType, StringComparison.OrdinalIgnoreCase)
            || string.IsNullOrEmpty(fromRow.DataType)
            || string.IsNullOrEmpty(toRow.DataType))
        {
            DrawingRelation = null;
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showErrorNotification",
                    "The datatypes of the rows are different, please make sure the datatype of both rows matches.");
            }
            return;
        }

        // Create relation with format [Origin_Table]_[Origin_Cell]_[Destination_Table]_[Destination_Cell]_FK
        var relationName = $"{fromTable.Name}_{fromRow.Name}_{toTable.Name}_{toRow.Name}_FK";

        var relation = new RelationModel
        {
            FromTableId = DrawingRelation.FromTableId,
            FromRowIndex = DrawingRelation.FromRowIndex,
            ToTableId = tableId,
            ToRowIndex = rowIndex,
            Name = relationName
        };

        Relations.Add(relation);
        DrawingRelation = null;
        UpdateJsonOutput();
    }

    private void OnCanvasDragOver(DragEventArgs args)
    {
        args.DataTransfer!.DropEffect = "copy";
    }

    private void OnCanvasMouseMove(MouseEventArgs args)
    {
        if (IsPanningCanvas)
        {
            CanvasOffsetX = PanStartOffsetX + (args.ClientX - PanStartClientX);
            CanvasOffsetY = PanStartOffsetY + (args.ClientY - PanStartClientY);
            StateHasChanged();
            return;
        }

        var (diagramX, diagramY) = ToDiagramCoordinates(args.ClientX, args.ClientY);

        if (DraggingTable != null)
        {
            DraggingTable.X = diagramX - DragOffsetX;
            DraggingTable.Y = diagramY - DragOffsetY;
            StateHasChanged();
        }

        if (DraggingTextLabel != null)
        {
            DraggingTextLabel.X = diagramX - DragOffsetX;
            DraggingTextLabel.Y = diagramY - DragOffsetY;
            StateHasChanged();
        }

        if (ResizingTable != null)
        {
            double deltaX = diagramX - ResizeStartX;
            double deltaY = diagramY - ResizeStartY;

            ResizingTable.Width = Math.Max(200, ResizeStartWidth + deltaX);
            ResizingTable.Height = Math.Max(300, ResizeStartHeight + deltaY);
            StateHasChanged();
        }

        if (DraggingWaypointRelationId != null)
        {
            var relation = Relations.FirstOrDefault(r => r.Id == DraggingWaypointRelationId);
            if (relation != null)
            {
                relation.ManualRouteX = diagramX - WaypointDragOffsetX;
            }
            StateHasChanged();
        }

        if (DrawingRelation != null)
        {
            DrawingRelation.CurrentX = diagramX;
            DrawingRelation.CurrentY = diagramY;
            StateHasChanged();
        }
    }

    private void OnCanvasMouseUp()
    {
        DraggingTable = null;
        DraggingTextLabel = null;
        ResizingTable = null;
        DraggingWaypointRelationId = null;
        IsPanningCanvas = false;
        if (_relationClickedThisFrame)
        {
            _relationClickedThisFrame = false;
        }
        else
        {
            SelectedRelationId = null;
        }
    }

    private void OnDragEnd(DragEventArgs args)
    {
        DraggedItemType = "";
    }

    private void OnTableMouseDown(TableModel table, MouseEventArgs args)
    {
        var (diagramX, diagramY) = ToDiagramCoordinates(args.ClientX, args.ClientY);
        DraggingTable = table;
        DragOffsetX = diagramX - table.X;
        DragOffsetY = diagramY - table.Y;
    }

    private void OnTextLabelMouseDown(TextLabelModel label, MouseEventArgs args)
    {
        if (EditingTextLabelId == label.Id)
            return;

        var (diagramX, diagramY) = ToDiagramCoordinates(args.ClientX, args.ClientY);
        DraggingTextLabel = label;
        DragOffsetX = diagramX - label.X;
        DragOffsetY = diagramY - label.Y;
    }

    private void StartTextLabelEditing(string labelId)
    {
        EditingTextLabelId = labelId;
    }

    private void FinishTextLabelEditing()
    {
        EditingTextLabelId = null;
        UpdateJsonOutput();
    }

    private void RemoveTextLabel(string labelId)
    {
        TextLabels.RemoveAll(l => l.Id == labelId);
        if (EditingTextLabelId == labelId)
        {
            EditingTextLabelId = null;
        }
        UpdateJsonOutput();
    }

    private void HandleTextLabelKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            FinishTextLabelEditing();
        }
        else if (args.Key == "Escape")
        {
            EditingTextLabelId = null;
        }
    }

    private void OnTableMouseMove(MouseEventArgs args)
    {
        if (DraggingTable != null)
        {
            DraggingTable.X = args.ClientX - DragOffsetX;
            DraggingTable.Y = args.ClientY - DragOffsetY;
            StateHasChanged();
        }
    }

    private void OnTableMouseUp()
    {
        DraggingTable = null;
    }

    private void OnResizeMouseDown(TableModel table, MouseEventArgs args)
    {
        var (diagramX, diagramY) = ToDiagramCoordinates(args.ClientX, args.ClientY);
        ResizingTable = table;
        ResizeStartX = diagramX;
        ResizeStartY = diagramY;
        ResizeStartWidth = table.Width;
        ResizeStartHeight = table.Height;
    }

    private void AddRow(string tableId)
    {
        var table = Tables.FirstOrDefault(t => t.Id == tableId);
        if (table != null)
        {
            table.Rows.Add(new ColumnModel());
            UpdateJsonOutput();
        }
    }

    private void RemoveRow(string tableId, int rowIndex)
    {
        var table = Tables.FirstOrDefault(t => t.Id == tableId);
        if (table != null && rowIndex >= 0 && rowIndex < table.Rows.Count)
        {
            var rowName = string.IsNullOrWhiteSpace(table.Rows[rowIndex].Name) ? $"Row {rowIndex + 1}" : table.Rows[rowIndex].Name;
            var affectedRelations = Relations.Where(r =>
                (r.FromTableId == tableId && r.FromRowIndex == rowIndex) ||
                (r.ToTableId == tableId && r.ToRowIndex == rowIndex)).ToList();

            var message = $"Are you sure you want to delete the column \"{rowName}\" from table \"{table.Name}\"?";
            if (affectedRelations.Count > 0)
            {
                var relationNames = string.Join(", ", affectedRelations.Select(r => r.Name));
                message += $"\n\nThis will also delete {affectedRelations.Count} relation(s): {relationNames}";
            }

            ShowConfirmDialog = true;
            ConfirmDialogTitle = "Delete Column";
            ConfirmDialogMessage = message;
            ConfirmDialogAction = () =>
            {
                // Remove relations that reference this row
                Relations.RemoveAll(r =>
                    (r.FromTableId == tableId && r.FromRowIndex == rowIndex) ||
                    (r.ToTableId == tableId && r.ToRowIndex == rowIndex));

                // Adjust row indices for relations referencing rows after the deleted one
                foreach (var relation in Relations)
                {
                    if (relation.FromTableId == tableId && relation.FromRowIndex > rowIndex)
                        relation.FromRowIndex--;
                    if (relation.ToTableId == tableId && relation.ToRowIndex > rowIndex)
                        relation.ToRowIndex--;
                }

                table.Rows.RemoveAt(rowIndex);
                if (SelectedTableId == tableId && SelectedRowIndex == rowIndex)
                {
                    SelectedRowIndex = -1;
                    SelectedTableId = "";
                }
                if (SelectedRelationId != null && !Relations.Any(r => r.Id == SelectedRelationId))
                    SelectedRelationId = null;

                UpdateRelationNames();
                UpdateJsonOutput();
            };
        }
    }

    private void SelectRow(string tableId, int rowIndex)
    {
        if (SelectedTableId == tableId && SelectedRowIndex == rowIndex)
        {
            SelectedRowIndex = -1;
            SelectedTableId = "";
        }
        else
        {
            SelectedTableId = tableId;
            SelectedRowIndex = rowIndex;
        }
    }

    private void HandleDataTypeChange(ChangeEventArgs e, ColumnModel row)
    {
        if (e.Value != null)
        {
            row.DataType = e.Value.ToString() ?? "";
            UpdateJsonOutput();
        }
    }

    private void HandlePrimaryKeyChange(ChangeEventArgs e, ColumnModel row)
    {
        if (e.Value != null)
        {
            row.PrimaryKey = e.Value.ToString() ?? "";
            UpdateJsonOutput();
        }
    }

    private void HandleNullChange(ChangeEventArgs e, ColumnModel row)
    {
        if (e.Value != null)
        {
            row.Null = e.Value.ToString() ?? "";
            UpdateJsonOutput();
        }
    }

    private void MoveRowUp(string tableId)
    {
        var table = Tables.FirstOrDefault(t => t.Id == tableId);
        if (table != null && SelectedRowIndex > 0 && SelectedRowIndex < table.Rows.Count)
        {
            var temp = table.Rows[SelectedRowIndex];
            table.Rows[SelectedRowIndex] = table.Rows[SelectedRowIndex - 1];
            table.Rows[SelectedRowIndex - 1] = temp;
            SelectedRowIndex--;
            UpdateJsonOutput();
        }
    }

    private void MoveRowDown(string tableId)
    {
        var table = Tables.FirstOrDefault(t => t.Id == tableId);
        if (table != null && SelectedRowIndex >= 0 && SelectedRowIndex < table.Rows.Count - 1)
        {
            var temp = table.Rows[SelectedRowIndex];
            table.Rows[SelectedRowIndex] = table.Rows[SelectedRowIndex + 1];
            table.Rows[SelectedRowIndex + 1] = temp;
            SelectedRowIndex++;
            UpdateJsonOutput();
        }
    }

    private void RemoveTable(string tableId)
    {
        Tables.RemoveAll(t => t.Id == tableId);
        Relations.RemoveAll(r => r.FromTableId == tableId || r.ToTableId == tableId);
        UpdateJsonOutput();
    }

    private void HandleTitleKeyUp(KeyboardEventArgs args, TableModel table)
    {
        if (args.Key == "Enter")
        {
            EditingTableId = null;
            UpdateRelationNames();
            UpdateJsonOutput();
        }
    }

    private void UpdateJsonOutput()
    {
        var schema = new
        {
            tables = Tables.Select(t => new
            {
                id = t.Id,
                name = t.Name,
                position = new { x = t.X, y = t.Y },
                size = new { width = t.Width, height = t.Height },
                columns = t.Rows.Select(r => new
                {
                    name = r.Name,
                    dataType = r.DataType,
                    length = r.Length,
                    defaultValue = r.DefaultValue,
                    nullable = r.Null,
                    primaryKey = r.PrimaryKey
                }).ToList()
            }).ToList(),
            relations = Relations.Select(r => new
            {
                id = r.Id,
                name = r.Name,
                hasCustomName = r.HasCustomName ? true : (bool?)null,
                fromTable = r.FromTableId,
                fromColumn = r.FromRowIndex,
                toTable = r.ToTableId,
                toColumn = r.ToRowIndex,
                manualRouteX = r.ManualRouteX
            }).ToList(),
            labels = TextLabels.Select(l => new
            {
                id = l.Id,
                text = l.Text,
                x = l.X,
                y = l.Y
            }).ToList()
        };

        var options = new JsonSerializerOptions
        {
            WriteIndented = true,
            DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
        };

        JsonOutput = JsonSerializer.Serialize(schema, options);

        // Save to cookie backup (2 hours)
        if (jsModule != null)
        {
            _ = jsModule.InvokeVoidAsync("setCookie", "diagramer_backup", JsonOutput, 2);
        }
    }

    private void UpdateRelationNames()
    {
        foreach (var relation in Relations)
        {
            if (relation.HasCustomName) continue;

            var fromTable = Tables.FirstOrDefault(t => t.Id == relation.FromTableId);
            var toTable = Tables.FirstOrDefault(t => t.Id == relation.ToTableId);
            if (fromTable == null || toTable == null) continue;

            var fromRow = fromTable.Rows.ElementAtOrDefault(relation.FromRowIndex);
            var toRow = toTable.Rows.ElementAtOrDefault(relation.ToRowIndex);
            if (fromRow == null || toRow == null) continue;

            relation.Name = $"{fromTable.Name}_{fromRow.Name}_{toTable.Name}_{toRow.Name}_FK";
        }
    }

    private void SelectRelation(string relationId)
    {
        SelectedRelationId = SelectedRelationId == relationId ? null : relationId;
        _relationClickedThisFrame = true;
    }

    private void StartEditingRelationName(string relationId)
    {
        EditingRelationId = relationId;
        _relationClickedThisFrame = true;
    }

    private void FinishEditingRelationName(string relationId)
    {
        var relation = Relations.FirstOrDefault(r => r.Id == relationId);
        if (relation != null)
        {
            relation.HasCustomName = true;
        }
        EditingRelationId = null;
        UpdateJsonOutput();
    }

    private void HandleRelationNameKeyUp(KeyboardEventArgs args, string relationId)
    {
        if (args.Key == "Enter")
        {
            FinishEditingRelationName(relationId);
        }
        else if (args.Key == "Escape")
        {
            EditingRelationId = null;
        }
    }

    private void RemoveRelation(string relationId)
    {
        var relation = Relations.FirstOrDefault(r => r.Id == relationId);
        if (relation != null)
        {
            ShowConfirmDialog = true;
            ConfirmDialogTitle = "Delete Relation";
            ConfirmDialogMessage = $"Are you sure you want to delete the relation \"{relation.Name}\"?";
            ConfirmDialogAction = () =>
            {
                Relations.RemoveAll(r => r.Id == relationId);
                SelectedRelationId = null;
                UpdateJsonOutput();
            };
            _relationClickedThisFrame = true;
        }
    }

    private void ConfirmDelete()
    {
        ConfirmDialogAction?.Invoke();
        ShowConfirmDialog = false;
        ConfirmDialogAction = null;
    }

    private void CancelDelete()
    {
        ShowConfirmDialog = false;
        ConfirmDialogAction = null;
    }

    private void GenerateSqlScript()
    {
        var sqlBuilder = new System.Text.StringBuilder();

        for (int tableIndex = 0; tableIndex < Tables.Count; tableIndex++)
        {
            var table = Tables[tableIndex];
            var primaryKeyColumns = table.Rows.Where(r => string.Equals(r.PrimaryKey, "Yes", StringComparison.OrdinalIgnoreCase)).ToList();

            sqlBuilder.AppendLine($"CREATE TABLE [dbo].[{EscapeSqlIdentifier(table.Name)}] (");

            for (int rowIndex = 0; rowIndex < table.Rows.Count; rowIndex++)
            {
                var column = table.Rows[rowIndex];
                var isLastColumnDefinition = rowIndex == table.Rows.Count - 1 && primaryKeyColumns.Count == 0;
                var comma = isLastColumnDefinition ? string.Empty : ",";

                sqlBuilder.AppendLine($"    [{EscapeSqlIdentifier(column.Name)}] {GetSqlServerColumnDefinition(column)}{comma}");
            }

            if (primaryKeyColumns.Count > 0)
            {
                var primaryKeyName = $"PK_{table.Name}";
                var pkColumns = string.Join(", ", primaryKeyColumns.Select(c => $"[{EscapeSqlIdentifier(c.Name)}] ASC"));
                sqlBuilder.AppendLine($"    CONSTRAINT [{EscapeSqlIdentifier(primaryKeyName)}] PRIMARY KEY CLUSTERED");
                sqlBuilder.AppendLine("    (");
                sqlBuilder.AppendLine($"        {pkColumns}");
                sqlBuilder.AppendLine("    )");
            }

            sqlBuilder.AppendLine(");");

            if (tableIndex < Tables.Count - 1 || Relations.Count > 0)
            {
                sqlBuilder.AppendLine();
            }
        }

        for (int relationIndex = 0; relationIndex < Relations.Count; relationIndex++)
        {
            var relation = Relations[relationIndex];
            var fromTable = Tables.FirstOrDefault(t => t.Id == relation.FromTableId);
            var toTable = Tables.FirstOrDefault(t => t.Id == relation.ToTableId);
            var fromColumn = fromTable?.Rows.ElementAtOrDefault(relation.FromRowIndex);
            var toColumn = toTable?.Rows.ElementAtOrDefault(relation.ToRowIndex);

            if (fromTable == null || toTable == null || fromColumn == null || toColumn == null)
            {
                continue;
            }

            sqlBuilder.AppendLine($"ALTER TABLE [dbo].[{EscapeSqlIdentifier(toTable.Name)}]  WITH CHECK ADD  CONSTRAINT [{EscapeSqlIdentifier(relation.Name)}] FOREIGN KEY([{EscapeSqlIdentifier(toColumn.Name)}])");
            sqlBuilder.AppendLine($"REFERENCES [dbo].[{EscapeSqlIdentifier(fromTable.Name)}] ([{EscapeSqlIdentifier(fromColumn.Name)}]);");
            sqlBuilder.AppendLine($"ALTER TABLE [dbo].[{EscapeSqlIdentifier(toTable.Name)}] CHECK CONSTRAINT [{EscapeSqlIdentifier(relation.Name)}];");

            if (relationIndex < Relations.Count - 1)
            {
                sqlBuilder.AppendLine();
            }
        }

        GeneratedSqlOutput = sqlBuilder.ToString().TrimEnd();
        ShowSqlModal = true;
    }

    private static string EscapeSqlIdentifier(string? identifier)
    {
        if (string.IsNullOrWhiteSpace(identifier))
            return "Unnamed";

        // Validate identifier length (SQL Server limit is 128 characters)
        if (identifier.Length > 128)
            identifier = identifier.Substring(0, 128);

        // Escape special characters for SQL Server identifiers
        identifier = identifier.Replace("]", "]]", StringComparison.Ordinal);

        // Remove or replace potentially dangerous characters
        // Allow only alphanumeric, underscore, and numbers (but not starting with number)
        var sanitized = System.Text.RegularExpressions.Regex.Replace(identifier, @"[^\w\s]", "_");

        if (string.IsNullOrWhiteSpace(sanitized))
            return "Unnamed";

        return sanitized;
    }

    private static string GetSqlServerColumnDefinition(ColumnModel column)
    {
        var dataType = string.IsNullOrWhiteSpace(column.DataType) ? "nvarchar" : column.DataType.Trim();
        var normalizedType = dataType.ToLowerInvariant();
        var typesWithLength = new HashSet<string>(StringComparer.OrdinalIgnoreCase)
        {
            "char", "varchar", "nchar", "nvarchar", "binary", "varbinary"
        };

        var typesWithPrecision = new HashSet<string>(StringComparer.OrdinalIgnoreCase)
        {
            "decimal", "numeric"
        };

        string sqlType;
        if (typesWithLength.Contains(normalizedType) && !normalizedType.Contains("max", StringComparison.OrdinalIgnoreCase))
        {
            var length = column.Length.GetValueOrDefault(normalizedType.StartsWith("n", StringComparison.OrdinalIgnoreCase) ? 50 : 100);
            sqlType = $"{dataType}({length})";
        }
        else if (typesWithPrecision.Contains(normalizedType))
        {
            sqlType = $"{dataType}(18, 2)";
        }
        else
        {
            sqlType = dataType;
        }
        var identity = string.Equals(column.PrimaryKey, "Yes", StringComparison.OrdinalIgnoreCase) && column.DataType.Contains("int") ? "IDENTITY(1,1)" 
            : string.Equals(column.PrimaryKey, "Yes", StringComparison.OrdinalIgnoreCase) ? "IDENTITY" : "";
        var nullability = string.Equals(column.Null, "Yes", StringComparison.OrdinalIgnoreCase) ? "NULL" : "NOT NULL";
        return $"{sqlType} {identity} {nullability}";
    }

    private void CloseSqlModal()
    {
        ShowSqlModal = false;
    }

    private async Task CloseCookieNotification()
    {
        ShowCookieNotification = false;
        if (jsModule != null)
        {
            await jsModule.InvokeVoidAsync("setCookieNotificationShown");
        }
    }

    private async Task CopySqlToClipboard()
    {
        if (jsModule == null)
            return;

        var success = await jsModule.InvokeAsync<bool>("copyToClipboard", GeneratedSqlOutput);
        if (success)
        {
            await jsModule.InvokeVoidAsync("showNotification", "SQL copied to clipboard!");
        }
        else
        {
            await jsModule.InvokeVoidAsync("showErrorNotification", "Failed to copy SQL to clipboard.");
        }
    }

    // Layout constants for connection point calculation
    private const double TableHeaderHeight = 50;
    private const double FixedRowHeight = 40;
    private const double DataRowHeight = 40;
    private const double RouteMargin = 30;

    private (double X, double Y) GetConnectionPoint(TableModel table, int rowIndex)
    {
        double x = table.X;
        double y = table.Y + TableHeaderHeight + FixedRowHeight + (rowIndex * DataRowHeight) + (DataRowHeight / 2);
        return (x, y);
    }

    private List<(double X, double Y)> ComputeRelationPath(RelationModel relation)
    {
        var fromTable = Tables.FirstOrDefault(t => t.Id == relation.FromTableId);
        var toTable = Tables.FirstOrDefault(t => t.Id == relation.ToTableId);
        if (fromTable == null || toTable == null) return new();

        var (fromX, fromY) = GetConnectionPoint(fromTable, relation.FromRowIndex);
        var (toX, toY) = GetConnectionPoint(toTable, relation.ToRowIndex);

        double routeX;
        if (relation.ManualRouteX.HasValue)
        {
            routeX = relation.ManualRouteX.Value;
        }
        else
        {
            // Auto-compute: go left of both tables with margin
            routeX = Math.Min(fromX, toX) - RouteMargin;

            // Push further left if any table blocks the vertical segment
            double minY = Math.Min(fromY, toY);
            double maxY = Math.Max(fromY, toY);

            foreach (var table in Tables)
            {
                // Skip the source and destination tables themselves
                if (table.Id == relation.FromTableId || table.Id == relation.ToTableId)
                    continue;

                double tLeft = table.X;
                double tRight = table.X + table.Width;
                double tTop = table.Y;
                double tBottom = table.Y + table.Height;

                if (routeX >= tLeft && routeX <= tRight &&
                    tTop < maxY && tBottom > minY)
                {
                    routeX = Math.Min(routeX, tLeft - RouteMargin);
                }
            }
        }

        return new List<(double X, double Y)>
        {
            (fromX, fromY),
            (routeX, fromY),
            (routeX, toY),
            (toX, toY)
        };
    }

    private void OnWaypointMouseDown(MouseEventArgs args, string relationId)
    {
        var relation = Relations.FirstOrDefault(r => r.Id == relationId);
        if (relation != null)
        {
            var path = ComputeRelationPath(relation);
            if (path.Count >= 3)
            {
                var (diagramX, _) = ToDiagramCoordinates(args.ClientX, args.ClientY);
                WaypointDragOffsetX = diagramX - path[1].X;
            }
            DraggingWaypointRelationId = relationId;
            _relationClickedThisFrame = true;
        }
    }

    private void OnCanvasBackgroundMouseDown(MouseEventArgs args)
    {
        if (DraggingTable != null || ResizingTable != null || DraggingWaypointRelationId != null || ShowConfirmDialog)
            return;

        IsPanningCanvas = true;
        PanStartClientX = args.ClientX;
        PanStartClientY = args.ClientY;
        PanStartOffsetX = CanvasOffsetX;
        PanStartOffsetY = CanvasOffsetY;
    }

    private (double X, double Y) ToDiagramCoordinates(double clientX, double clientY)
    {
        return ((clientX - CanvasOffsetX) / CanvasZoom, (clientY - CanvasOffsetY) / CanvasZoom);
    }

    private void ZoomIn()
    {
        CanvasZoom = Math.Min(2.5, CanvasZoom + 0.1);
    }

    private void ZoomOut()
    {
        CanvasZoom = Math.Max(0.4, CanvasZoom - 0.1);
    }

    private void ResetViewport()
    {
        CanvasZoom = 1;
        CanvasOffsetX = 0;
        CanvasOffsetY = 0;
    }

    [JSInvokable]
    public async Task OnDragDropTable(double x, double y)
    {
        var (diagramX, diagramY) = ToDiagramCoordinates(x, y);
        var newTable = new TableModel
        {
            Name = $"Table_{Tables.Count + 1}",
            X = diagramX - 100,
            Y = diagramY - 50
        };
        Tables.Add(newTable);
        UpdateJsonOutput();
        await InvokeAsync(StateHasChanged);
    }

    private async Task ExportDiagram()
    {
        if (jsModule == null)
            return;

        try
        {
            await jsModule.InvokeVoidAsync("exportDiagramWithSavePicker", "diagram-export-surface");
            await jsModule.InvokeVoidAsync("showNotification", "Diagram exported!");
        }
        catch (Exception ex)
        {
            // Silently ignore user cancellation
            if (ex.Message.Contains("aborted", StringComparison.OrdinalIgnoreCase))
            {
                return;
            }

            Console.WriteLine($"Error exporting diagram: {ex.Message}");
            await jsModule.InvokeVoidAsync("showErrorNotification", $"Error exporting diagram: {ex.Message}");
        }
    }

    private async Task CopyJsonToClipboard()
    {
        try
        {
            if (jsModule != null)
            {
                bool success = await jsModule.InvokeAsync<bool>("copyToClipboard", JsonOutput);
                if (success)
                {
                    await jsModule.InvokeVoidAsync("showNotification", "JSON copied to clipboard!");
                }
                else
                {
                    await jsModule.InvokeVoidAsync("showNotification", "Failed to copy to clipboard", 3000);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error copying to clipboard: {ex.Message}");
        }
    }

    private async Task DownloadJsonFile()
    {
        try
        {
            var fileName = "diagram.json";
            var bytes = System.Text.Encoding.UTF8.GetBytes(JsonOutput);

            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("downloadFile", bytes, fileName, "application/json");
                await jsModule.InvokeVoidAsync("showNotification", "JSON file downloaded!");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error downloading file: {ex.Message}");
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showNotification", $"Error downloading file: {ex.Message}", 3000);
            }
        }
    }

    private async Task TriggerFileUpload()
    {
        try
        {
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("triggerFileInput");
            }
            else
            {
                Console.WriteLine("JS module not loaded yet");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error triggering file upload: {ex.Message}");
            Console.WriteLine($"Stack trace: {ex.StackTrace}");
        }
    }

    private async Task HandleFileUpload(ChangeEventArgs e)
    {
        try
        {
            Console.WriteLine("HandleFileUpload called");

            if (jsModule == null)
            {
                Console.WriteLine("JS module is null, cannot read file");
                return;
            }

            var fileContent = await jsModule.InvokeAsync<string>("readUploadedFile");
            Console.WriteLine($"File content length: {fileContent?.Length ?? 0}");

            // Security: Validate file size (5MB limit)
            const int MAX_FILE_SIZE = 5 * 1024 * 1024; // 5MB
            if (!string.IsNullOrEmpty(fileContent) && fileContent.Length > MAX_FILE_SIZE)
            {
                if (jsModule != null)
                {
                    await jsModule.InvokeVoidAsync("showErrorNotification", "File is too large. Maximum size is 5MB.", 4000);
                }
                return;
            }

            if (!string.IsNullOrEmpty(fileContent))
            {
                Console.WriteLine("Loading diagram from JSON");
                // Validate and load JSON
                await LoadDiagramFromJson(fileContent);
            }
            else
            {
                Console.WriteLine("File content is empty");
                if (jsModule != null)
                {
                    await jsModule.InvokeVoidAsync("showNotification", "No file was selected", 2000);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error handling file upload: {ex.Message}");
            // Don't expose stack traces to users - security measure
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showErrorNotification", "Error loading file. Please ensure the file is valid JSON.", 3000);
            }
        }
    }

    private async Task LoadDiagramFromJson(string jsonContent)
    {
        try
        {
            Console.WriteLine("Starting LoadDiagramFromJson");
            Console.WriteLine($"JSON content preview: {(jsonContent.Length > 100 ? jsonContent.Substring(0, 100) + "..." : jsonContent)}");

            // Parse and validate JSON structure
            var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true,
                DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
            };

            using (JsonDocument doc = JsonDocument.Parse(jsonContent))
            {
                var root = doc.RootElement;
                Console.WriteLine($"JSON root element kind: {root.ValueKind}");

                // Validate required structure
                if (!root.TryGetProperty("tables", out var tablesElement) || tablesElement.ValueKind != JsonValueKind.Array)
                {
                    throw new InvalidOperationException("Invalid diagram format: missing or invalid 'tables' array");
                }

                Console.WriteLine($"Found {tablesElement.GetArrayLength()} tables");

                // Clear current diagram
                Tables.Clear();
                Relations.Clear();
                TextLabels.Clear();

                // Load tables
                foreach (var tableElement in tablesElement.EnumerateArray())
                {
                    var table = new TableModel();

                    if (tableElement.TryGetProperty("id", out var idElement))
                        table.Id = idElement.GetString() ?? Guid.NewGuid().ToString();

                    if (tableElement.TryGetProperty("name", out var nameElement))
                        table.Name = nameElement.GetString() ?? "New Table";

                    if (tableElement.TryGetProperty("position", out var posElement))
                    {
                        if (posElement.TryGetProperty("x", out var xElement))
                            table.X = xElement.GetDouble();
                        if (posElement.TryGetProperty("y", out var yElement))
                            table.Y = yElement.GetDouble();
                    }

                    if (tableElement.TryGetProperty("size", out var sizeElement))
                    {
                        if (sizeElement.TryGetProperty("width", out var widthElement))
                            table.Width = widthElement.GetDouble();
                        if (sizeElement.TryGetProperty("height", out var heightElement))
                            table.Height = heightElement.GetDouble();
                    }

                    // Load columns
                    if (tableElement.TryGetProperty("columns", out var columnsElement) && columnsElement.ValueKind == JsonValueKind.Array)
                    {
                        foreach (var columnElement in columnsElement.EnumerateArray())
                        {
                            var column = new ColumnModel();

                            if (columnElement.TryGetProperty("name", out var colNameElement))
                                column.Name = colNameElement.GetString() ?? "";

                            if (columnElement.TryGetProperty("dataType", out var dataTypeElement))
                                column.DataType = dataTypeElement.GetString() ?? "";

                            if (columnElement.TryGetProperty("length", out var lengthElement) && lengthElement.ValueKind == JsonValueKind.Number)
                                column.Length = lengthElement.GetInt32();

                            if (columnElement.TryGetProperty("defaultValue", out var defaultElement))
                                column.DefaultValue = defaultElement.GetString() ?? "";

                            if (columnElement.TryGetProperty("nullable", out var nullElement))
                                column.Null = nullElement.GetString() ?? "";

                            if (columnElement.TryGetProperty("primaryKey", out var pkElement))
                                column.PrimaryKey = pkElement.GetString() ?? "";

                            table.Rows.Add(column);
                        }
                    }

                if (root.TryGetProperty("labels", out var labelsElement) && labelsElement.ValueKind == JsonValueKind.Array)
                {
                    foreach (var labelElement in labelsElement.EnumerateArray())
                    {
                        var label = new TextLabelModel();

                        if (labelElement.TryGetProperty("id", out var labelIdElement))
                            label.Id = labelIdElement.GetString() ?? Guid.NewGuid().ToString();

                        if (labelElement.TryGetProperty("text", out var labelTextElement))
                            label.Text = labelTextElement.GetString() ?? "New label";

                        if (labelElement.TryGetProperty("x", out var labelXElement) && labelXElement.ValueKind == JsonValueKind.Number)
                            label.X = labelXElement.GetDouble();

                        if (labelElement.TryGetProperty("y", out var labelYElement) && labelYElement.ValueKind == JsonValueKind.Number)
                            label.Y = labelYElement.GetDouble();

                        TextLabels.Add(label);
                    }
                }

                    Console.WriteLine($"Added table: {table.Name} with {table.Rows.Count} columns");
                    Tables.Add(table);
                }

                // Load relations if they exist
                if (root.TryGetProperty("relations", out var relationsElement) && relationsElement.ValueKind == JsonValueKind.Array)
                {
                    Console.WriteLine($"Found {relationsElement.GetArrayLength()} relations");

                    foreach (var relationElement in relationsElement.EnumerateArray())
                    {
                        var relation = new RelationModel();

                        if (relationElement.TryGetProperty("id", out var relIdElement))
                            relation.Id = relIdElement.GetString() ?? Guid.NewGuid().ToString();

                        if (relationElement.TryGetProperty("name", out var relNameElement))
                            relation.Name = relNameElement.GetString() ?? "New Relation";

                        if (relationElement.TryGetProperty("fromTable", out var fromTableElement))
                            relation.FromTableId = fromTableElement.GetString() ?? "";

                        if (relationElement.TryGetProperty("fromColumn", out var fromColElement))
                            relation.FromRowIndex = fromColElement.GetInt32();

                        if (relationElement.TryGetProperty("toTable", out var toTableElement))
                            relation.ToTableId = toTableElement.GetString() ?? "";

                        if (relationElement.TryGetProperty("toColumn", out var toColElement))
                            relation.ToRowIndex = toColElement.GetInt32();

                        if (relationElement.TryGetProperty("hasCustomName", out var customNameElement) && customNameElement.ValueKind == JsonValueKind.True)
                            relation.HasCustomName = true;

                        if (relationElement.TryGetProperty("manualRouteX", out var routeXElement) && routeXElement.ValueKind == JsonValueKind.Number)
                            relation.ManualRouteX = routeXElement.GetDouble();

                        // Only add relation if both tables exist
                        if (Tables.Any(t => t.Id == relation.FromTableId) && 
                            Tables.Any(t => t.Id == relation.ToTableId))
                        {
                            Console.WriteLine($"Added relation: {relation.Name}");
                            Relations.Add(relation);
                        }
                        else
                        {
                            Console.WriteLine($"Skipping relation {relation.Name}: missing table references");
                        }
                    }
                }

                Console.WriteLine("Updating JSON output");
                UpdateJsonOutput();

                Console.WriteLine("Triggering state change");
                await InvokeAsync(StateHasChanged);

                if (jsModule != null)
                {
                    await jsModule.InvokeVoidAsync("showNotification", "Diagram loaded successfully!");
                }

                Console.WriteLine("LoadDiagramFromJson completed successfully");
            }
        }
        catch (JsonException jex)
        {
            Console.WriteLine($"JSON parsing error: {jex.Message}");
            Console.WriteLine($"Stack trace: {jex.StackTrace}");
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showNotification", $"Invalid JSON format: {jex.Message}", 3000);
            }
        }
        catch (InvalidOperationException iex)
        {
            Console.WriteLine($"Validation error: {iex.Message}");
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showNotification", iex.Message, 3000);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading diagram: {ex.Message}");
            Console.WriteLine($"Stack trace: {ex.StackTrace}");
            if (jsModule != null)
            {
                await jsModule.InvokeVoidAsync("showNotification", $"Error loading diagram: {ex.Message}", 3000);
            }
        }
    }
}

<style>
    .diagramer-container {
        display: flex;
        height: 88vh;
        width: 100%;
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
    }

    .left-panel {
        width: 300px;
        background: var(--bs-secondary-bg);
        border-right: 1px solid var(--bs-border-color);
        border-radius:7px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        color: var(--bs-body-color);
    }

    .panel-section {
        padding: 15px;
        border-bottom: 1px solid var(--bs-border-color);
    }

    .panel-section h3 {
        margin: 0 0 10px 0;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--bs-body-color);
    }

    .btn-block {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .drag-item {
        padding: 12px;
        background: var(--bs-tertiary-bg);
        border: 2px dashed var(--bs-border-color);
        border-radius: 4px;
        cursor: move;
        text-align: center;
        font-weight: 500;
        color: var(--bs-body-color);
        transition: all 0.2s;
        margin-bottom: 10px;
    }

    .drag-item:hover {
        background: var(--bs-secondary-bg);
        border-color: var(--bs-body-color);
    }

    .drag-item .icon {
        margin-right: 5px;
    }

    .json-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .json-section .btn {
        margin-bottom: 8px;
        width: 100%;
    }

    .json-section .btn:last-child {
        margin-bottom: 0;
    }

    .json-output {
        flex: 1;
        min-height: 0;
        background: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: 4px;
        padding: 10px;
        font-size: 12px;
        font-family: 'Courier New', monospace;
        overflow-y: auto;
        margin-bottom: 10px;
        color: var(--bs-body-color);
    }

    .json-output pre {
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .btn {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s;
    }

    .btn-primary {
        background: var(--bs-primary);
        color: white;
    }

    .btn-primary:hover {
        background: var(--bs-primary);
        opacity: 0.9;
    }

    .btn-secondary {
        background: var(--bs-secondary-bg);
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
    }

    .btn-secondary:hover {
        background: var(--bs-tertiary-bg);
    }

    .btn-sm {
        padding: 6px 10px;
        font-size: 12px;
    }

    .canvas-area {
        flex: 1;
        position: relative;
        background: var(--bs-body-bg);
        overflow: hidden;
        color: var(--bs-body-color);
        cursor: grab;
    }

    .canvas-area:active {
        cursor: grabbing;
    }

    .diagram-surface {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    .text-label-wrapper {
        position: absolute;
        z-index: 6;
        cursor: move;
        user-select: none;
    }

    .text-label {
        color: var(--bs-body-color);
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        padding: 4px 8px;
        border-radius: 4px;
        background: transparent;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        gap: 6px;
    }

    .text-label:hover {
        background: rgba(13, 110, 253, 0.08);
    }

    .text-label-delete {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 50%;
        background: #dc3545;
        color: white;
        font-size: 11px;
        line-height: 1;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s, background 0.2s;
    }

    .text-label:hover .text-label-delete {
        opacity: 1;
    }

    .text-label-delete:hover {
        background: #bb2d3b;
    }

    .text-label-input {
        min-width: 160px;
        padding: 4px 8px;
        border: 1px solid var(--bs-primary);
        border-radius: 4px;
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
        font-size: 18px;
        font-weight: 600;
        outline: none;
    }

    .tables-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .table-wrapper {
        cursor: default;
    }

    .table-card {
        background: var(--bs-body-bg);
        border: 2px solid #0078d4;
        border-radius: 7px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        min-width: 280px;
        overflow: hidden;
        position: relative;
        color: var(--bs-body-color);
    }

    .table-header {
        background: var(--bs-primary);
        color: white;
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
    }

    .table-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
        flex: 1;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 2px;
        transition: all 0.2s;
    }

    .table-title:hover {
        background: rgba(255,255,255,0.2);
    }

    .table-title-input {
        flex: 1;
        padding: 6px 8px;
        border: 2px solid white;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
    }

    .close-btn {
        background: transparent;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        padding: 0 5px;
        transition: all 0.2s;
        opacity: 0.8;
    }

    .close-btn:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    .close-btn:hover {
        transform: scale(1.2);
    }

    .table-columns {
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
    }

    .table-row {
        display: grid;
        grid-template-columns: 20px 2fr 2fr 1fr 1.5fr 1fr 1fr 30px;
        border-bottom: 1px solid var(--bs-border-color);
        background: var(--bs-body-bg);
        transition: background 0.2s;
    }

    .table-row:hover {
        background: var(--bs-tertiary-bg);
    }

    .fixed-row {
        background: var(--bs-secondary-bg);
        font-weight: 600;
        color: var(--bs-body-color);
    }

    .data-row {
        align-items: center;
    }

    .selected-row {
        background-color: rgba(13, 110, 253, 0.1) !important;
        border-left: 3px solid #0078d4;
    }

    .cell {
        padding: 12px 8px;
        border-right: 1px solid var(--bs-border-color);
        font-size: 13px;
        line-height: 1.35;
        text-align: left;
        min-height: 20px;
        color: var(--bs-body-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cell:last-child {
        border-right: none;
    }

    .cell-delete-header {
        padding: 0;
        border-right: none;
    }

    .cell-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        min-width: 0;
    }

    .cell-input {
        width: 100%;
        min-width: 0;
        padding: 10px 8px;
        border: none;
        border-right: 1px solid var(--bs-border-color);
        font-size: 13px;
        line-height: 1.35;
        background: transparent;
        font-family: inherit;
        color: var(--bs-body-color);
        box-sizing: border-box;
    }

    .cell-input:focus {
        background: rgba(13, 110, 253, 0.1);
        outline: none;
    }

    .cell-select {
        width: 100%;
        min-width: 0;
        padding: 8px 6px;
        border: none;
        border-right: 1px solid var(--bs-border-color);
        font-size: 13px;
        line-height: 1.35;
        background: var(--bs-body-bg);
        font-family: inherit;
        cursor: pointer;
        color: var(--bs-body-color);
        box-sizing: border-box;
    }

    .cell-select:focus {
        background: rgba(13, 110, 253, 0.1);
        outline: none;
    }

    .cell-select option {
        color: var(--bs-body-color);
        background: var(--bs-body-bg);
        padding: 8px;
    }

    .relation-handle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        margin: auto;
        background: var(--bs-primary);
        border-radius: 50%;
        color: white;
        font-size: 10px;
        cursor: grab;
        transition: all 0.2s;
    }

    .relation-handle:hover {
        transform: scale(1.3);
        opacity: 0.8;
    }

    .cell-handle-header {
        padding: 0;
        border-right: 1px solid var(--bs-border-color);
    }

    .delete-row-btn {
        padding: 4px 8px;
        background: #dc3545;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 12px;
        margin: 0;
        transition: all 0.2s;
        width: 100%;
        box-sizing: border-box;
    }

    .delete-row-btn:hover {
        background: #bb2d3b;
    }

    .add-row-btn {
        width: 100%;
        padding: 10px;
        background: var(--bs-secondary-bg);
        border: 1px solid var(--bs-border-color);
        border-top: 2px solid var(--bs-primary);
        cursor: pointer;
        font-weight: 500;
        color: var(--bs-primary);
        transition: all 0.2s;
    }

    .add-row-btn:hover {
        background: rgba(13, 110, 253, 0.1);
    }

    .row-controls {
        display: flex;
        gap: 4px;
        padding: 8px;
        background: var(--bs-tertiary-bg);
        border-top: 1px solid var(--bs-border-color);
    }

    .order-btn {
        flex: 1;
        padding: 6px;
        background: var(--bs-body-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: 2px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.2s;
        color: var(--bs-body-color);
    }

    .order-btn:hover:not(:disabled) {
        background: rgba(13, 110, 253, 0.1);
        border-color: var(--bs-primary);
    }

    .order-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .relations-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 5;
    }

    .relations-svg .relation-line-hit,
    .relations-svg .relation-label,
    .relations-svg .relation-delete-btn,
    .relations-svg .waypoint-handle,
    .relations-svg foreignObject {
        pointer-events: all;
    }

    .waypoint-handle {
        fill: #ff9800;
        stroke: white;
        stroke-width: 2;
        cursor: ew-resize;
    }

    .waypoint-handle:hover {
        fill: #f57c00;
        r: 8;
    }

    .relation-line-hit {
        stroke: transparent;
        stroke-width: 14;
        fill: none;
        cursor: pointer;
    }

    .relation-line {
        stroke: var(--bs-primary);
        stroke-width: 2;
        fill: none;
        marker-end: url(#arrowhead);
        pointer-events: none;
    }

    .relation-line-selected {
        stroke: #ff9800;
        stroke-width: 3;
    }

    .drawing-line {
        stroke: #ff9800;
        stroke-width: 2;
        fill: none;
        stroke-dasharray: 5,5;
    }

    .relation-point {
        fill: var(--bs-primary);
    }

    .relation-label {
        font-size: 12px;
        fill: var(--bs-body-color);
        font-weight: 500;
        text-anchor: middle;
        dominant-baseline: hanging;
        cursor: pointer;
    }

    .relation-label-selected {
        fill: #ff9800;
        font-weight: 700;
    }

    .relation-name-input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.35;
        font-family: inherit;
        border: 2px solid #ff9800;
        border-radius: 3px;
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
        text-align: center;
        outline: none;
    }

    .relation-delete-circle {
        fill: #dc3545;
        cursor: pointer;
    }

    .relation-delete-circle:hover {
        fill: #bb2d3b;
    }

    .relation-delete-text {
        fill: white;
        font-size: 12px;
        text-anchor: middle;
        dominant-baseline: central;
        cursor: pointer;
    }

    .drawing-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 4;
    }

    .icon {
        margin-right: 6px;
    }

    .resize-handle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        cursor: nwse-resize;
        background: linear-gradient(135deg, transparent 50%, var(--bs-primary) 50%);
        border-radius: 0 0 4px 0;
        opacity: 0.5;
        transition: opacity 0.2s;
    }

    .resize-handle:hover {
        opacity: 1;
        background: linear-gradient(135deg, transparent 50%, var(--bs-primary) 50%);
    }

    .left-panel::-webkit-scrollbar {
        width: 8px;
    }

    .left-panel::-webkit-scrollbar-track {
        background: var(--bs-secondary-bg);
    }

    .left-panel::-webkit-scrollbar-thumb {
        background: var(--bs-border-color);
        border-radius: 4px;
    }

    .left-panel::-webkit-scrollbar-thumb:hover {
        background: var(--bs-body-color);
    }

    .json-output::-webkit-scrollbar {
        width: 6px;
    }

    .json-output::-webkit-scrollbar-track {
        background: var(--bs-secondary-bg);
        border-radius: 4px;
    }

    .json-output::-webkit-scrollbar-thumb {
        background: var(--bs-border-color);
        border-radius: 4px;
    }

    .json-output::-webkit-scrollbar-thumb:hover {
        background: var(--bs-body-color);
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .confirm-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }

    .confirm-dialog {
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
        border-radius: 8px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
        min-width: 360px;
        max-width: 440px;
        overflow: hidden;
    }

    .sql-dialog {
        width: min(1100px, 92vw);
        max-width: min(1100px, 92vw);
        min-width: min(1100px, 92vw);
        max-height: 88vh;
        display: flex;
        flex-direction: column;
    }

    .sql-header {
        background: linear-gradient(135deg, var(--bs-primary), #6f42c1);
    }

    .sql-modal-body {
        padding: 20px;
        min-height: 0;
        flex: 1;
        display: flex;
    }

    .sql-output-panel {
        flex: 1;
        min-height: 0;
        overflow: auto;
        background: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: 8px;
        padding: 16px;
        font-family: 'Courier New', Consolas, monospace;
        font-size: 13px;
        line-height: 1.6;
    }

    .sql-output-panel pre {
        margin: 0;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .sql-copy-btn {
        background: var(--bs-primary);
        color: white;
    }

    .sql-copy-btn:hover {
        opacity: 0.9;
    }

    .confirm-header {
        background: #1b6ec2;
        color: white;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .confirm-body {
        padding: 20px;
        font-size: 14px;
        line-height: 1.5;
    }

    .confirm-footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding: 12px 20px;
        border-top: 1px solid var(--bs-border-color);
    }

    .confirm-btn {
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
    }

    .confirm-btn-cancel {
        background: var(--bs-secondary-bg);
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
    }

    .confirm-btn-cancel:hover {
        background: var(--bs-tertiary-bg);
    }

    .confirm-btn-delete {
        background: #dc3545;
        color: white;
    }

    .confirm-btn-delete:hover {
        background: #bb2d3b;
    }

    .zoom-controls {
        position: absolute;
        right: 24px;
        bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 20;
    }

    .zoom-btn {
        min-width: 52px;
        height: 40px;
        border: 1px solid var(--bs-border-color);
        border-radius: 8px;
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;
    }

    .zoom-btn:hover {
        background: var(--bs-tertiary-bg);
    }

    .zoom-level {
        font-size: 12px;
        font-weight: 700;
    }

    /* Cookie Notification Styles */
    .cookie-notification {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: var(--bs-body-bg);
        border: 1px solid var(--bs-border-color);
        border-top: 2px solid var(--bs-primary);
        border-radius: 8px 8px 0 0;
        box-shadow: 0 -4px 12px rgba(0,0,0,0.15);
        padding: 16px 20px;
        margin-bottom: 0;
        z-index: 9999;
        max-width: 600px;
        animation: slideUp 0.3s ease-out;
    }

    @@keyframes slideUp {
        from {
            transform: translateX(-50%) translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateX(-50%) translateY(0);
            opacity: 1;
        }
    }

    .cookie-notification-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .cookie-notification-text {
        color: var(--bs-body-color);
        font-size: 14px;
        line-height: 1.5;
        flex: 1;
    }

    .cookie-notification-btn {
        padding: 8px 20px;
        background: var(--bs-primary);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s;
        white-space: nowrap;
        flex-shrink: 0;
    }

    .cookie-notification-btn:hover {
        background: var(--bs-primary);
        opacity: 0.9;
    }

    @@media (max-width: 600px) {
        .cookie-notification {
            max-width: calc(100vw - 20px);
            margin: 10px;
            bottom: 10px;
            border-radius: 8px;
        }

        .cookie-notification-content {
            flex-direction: column;
            align-items: flex-start;
        }

        .cookie-notification-btn {
            align-self: flex-end;
        }
    }

</style>
